body {
  padding-top: 140px;
  font-family: "IBM Plex Serif", serif;
  background: #181a1b;
}

.carousel > .carousel-inner > .carousel-item > img {
  width: auto;
  height: 500px;
  max-height: 500px;
}

#newsDiv {
  padding-top: 2%;
}

#campusDiv {
  object-fit: contain;
}
#campusDiv #campusModel {
  width: 90vh;
  height: 90vh;
  min-width: none;
}

.hotspot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  box-sizing: border-box;
}

.hotspot[slot="hotspot-main-entrance"] {
  background-color: grey;
}

.annotation {
  background-color: #888888;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
